<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <header class="header">
        <div class="header__logo">
            <img src="https://cdn4.iconfinder.com/data/icons/scripting-and-programming-languages/512/Python_logo-512.png">
            <p>Python Cinema</p>
        </div>
        <div class="header__links">
            <a href="/">Home</a>
            <a href="/about_us/">About</a>
            <a href="#">Features</a>
            <a href="/contacts/">Contacts</a>
            <a href="/admin/">Login</a>
            <a href="/add-shows/">Add Shows</a>
        </div>
        <div class="header__search">
            <input placeholder="Search">
            <button class="button">Search</button>
        </div>
    </header>
    <main class="main">
        <section class="posts">
            <center>
            {% for i in contacts %}
<h1>{{i.director}}</h1>
<p>{{i.phone_number}}</p>
<img src="{{i.image.url}}" alt="">
<p>{{i.work_years}}</p>


{%endfor%}
                </center>
        </section>
    </main>
    <footer class="footer">
        <p>Copyright © 2022</p>
    </footer>
</div>




</body>
</html>