<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/sliders.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
<div class="container">
    <header class="header">
        <div class="header__logo">
            <img src="https://cdn4.iconfinder.com/data/icons/scripting-and-programming-languages/512/Python_logo-512.png">
            <p>Python Cinema</p>
        </div>
        <div class="header__links">
            <a href="/">Home</a>
            <a href="/about_us/">About</a>
            <a href="#">Features</a>
            <a href="/contacts/">Contacts</a>
            <a href="/admin/">Login</a>
            <a href="/add-shows/">Add Shows</a>
        </div>
        <div class="header__search">
            <input placeholder="Search">
            <button class="button">Search</button>
        </div>
    </header>
    <main class="main">
        <section class="posts">
            <center>
  <div class="container_slider_css">
  {% for i in slide %}
  <img class="photo_slider_css" src="{{i.image.url}}" alt="" >
  {%endfor%}
</div>
                </center>
        </section>
    </main>
    <footer class="footer">
        <p>Copyright © 2022</p>
    </footer>
</div>


</body>
</html>