<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python Cinema</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<div class="container">
    <header class="header">
        <div class="header__logo">
            <img src="https://cdn4.iconfinder.com/data/icons/scripting-and-programming-languages/512/Python_logo-512.png">
            <p>Python Cinema</p>
        </div>
        <div class="header__links">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Features</a>
            <a href="#">Contacts</a>
            <a href="/admin/">Login</a>
            <a href="/add-shows/">Add Shows</a>
        </div>
        <div class="header__search">
            <input placeholder="Search">
            <button class="button">Search</button>
        </div>
    </header>
    <main class="main">
        <section class="posts">
            {% for post in shows_object %}
            <div class="posts__item">
                <div class="posts__item-image">
                    <img src="{{post.image.url}}" alt="">
                </div>
                <div class="posts__item-text">
                    <h1>{{post.title}}</h1>
                    <p>{{post.description}}</p>
                    <a href="/tvshows/{{post.id}}" class="">
                        <button class="button">More</button>
                    </a>
                </div>
            </div>
            <div class="posts__border-bottom"></div>
            {% endfor %}
        </section>
    </main>
    <footer class="footer">
        <p>Copyright © 2022</p>
    </footer>
</div>
</body>
</html>
