<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python Cinema</title>
    <link rel="stylesheet" href="{% static 'css/detail.css' %}"/>
</head>
<body>
<div class="container">
    <header class="header">
        <div class="header__logo">
            <img src="https://cdn4.iconfinder.com/data/icons/scripting-and-programming-languages/512/Python_logo-512.png">
            <p>Python Cinema</p>
        </div>
        <div class="header__links">
            <a href="/tvshows/">Home</a>
            <a href="#">About</a>
            <a href="#">Features</a>
            <a href="#">Contacts</a>
            <a href="/add-shows/">Add Shows</a>
            <a href="/tvshows/{{object.id}}/update/">Update Shows</a>
            <a href="/tvshows/{{object.id}}/delete/">Delete Shows</a>
        </div>
        <div class="header__search">
            <input placeholder="Search">
            <button class="button">Search</button>
        </div>
    </header>
    <main class="main">
        <div class="post">
            <div class="div1">
                <img src="{{object.image.url}}" alt="...">
                <div class="div2">
                    <h1>{{object.title}}</h1>
                    <p>{{object.description}}</p>
                    <iframe src="{{object.trailers_film}}" frameborder="0" height="370"></iframe>
                </div>
            </div>
            <div class="div3">
                <p>{{object.full_description}}</p>
            </div>
            <div class="div4">
                <a href="/tvshows/">
                    <button class="button">< Back</button>
                </a>
                <hr>

                <p><span>Create: </span>{{object.created_date}}</p>
                <p><span>Update: </span>{{object.updated_date}}</p>
                    {% for i in object.comment.all %}
                <h4>Комментарий к фильму: {{i.text}}</h4>
                <br><br>
                <p>  {{i.created_date}}</p>
                {% endfor %}
            </div>
        </div>
    </main>
    <footer class="footer">
        <p>Copyright © 2022</p>
    </footer>
</div>
</body>
</html>
